.container{
   width: 100%;
   max-width: 1300px;
   margin: 0px auto;
   padding: 0px 20px;
}

.js-list{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 0px;
   padding: 0px;
   list-style: none;
}
ul > li{
   border-radius: 20px;
   background-color: rgb(141, 135, 141);
   width: 300px;
   margin-bottom: 30px;
}
img{
   width: 300px;
   height: 300px;
}
.fox{
   font-family: 'Arial';
   text-align: center;
   margin-bottom: 40px;
   color: aqua;
}
h4{
   font-family: 'Arial';
   text-align: center;
   margin: 0px;
   margin-top: 8px;
   margin-bottom: 8px;
   height: 50px;
}
p{
   font-family: 'Arial';
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   height: 40px;
   overflow: auto;
   margin: 0px;
   margin-top: 8px;
   margin-bottom: 15px;
}
span{
   text-align: center;
   display: block;
}
strong{
   text-align: center;
   display: block;
   margin-top: 10px;
   margin-bottom: 14px;
}

select{
   margin-bottom: 30px;
   padding: 5px 8px;
   width: 100px;
   margin-right: 30px;
}
ul > li > button{
   margin-left: 30px;
   margin-top: 8px;
   margin-bottom: 8px;
}
ol{
   list-style: none;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin: 0px;
   padding: 0px;
   margin-bottom: 25px;
}
ol > li {
   background-color: bisque;
   padding: 3px 4px 3px 10px;
   border-radius: 10px;
   margin-right: 20px;
   margin-bottom: 20px;
}
ol > li > button{
   margin-left: 12px;
}
/* .js-modal{
   position: fixed;
   top: 0px;
   display: none;
   align-items: center;
   justify-content: center;
   right: 0px;
   bottom: 0px;
   left: 0px;
   background-color: rgba(0, 0, 0, 0.5); 
   display: none;
}
.modal-open{
   display: block;
} */

@media only screen and (max-width: 576px) {
   .js-list{
      text-align: center;
      margin: 0px auto;
   }
   ul >li{
      margin: 0px auto;
      margin-bottom: 40px;
   }
}